<!DOCTYPE html>
@{
   

}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poultry software complete erp Soluations" />
    <meta name="author" content="Hitanshi Agro" />
    <title> Hospital Managment Panel</title>


    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="sb-nav fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <small class="navbar-brand ">
     

        </small>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!--User Icon Login Logout Options-->
        <ul class=" navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <small class="navbar-brand">
                  
                    </small>
                    <i class="fas fa-user fa-fw">

                    </i>

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Login/Logout">
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                    <div class="nav">
                      
                        <a class="nav-link" href="/Home/index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Hospital  Dashboard
                        </a>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Master_Item" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fab fa-wpforms"></i></div>
                            Admin Master

                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <!--Add Menu bar -->
                        <div class="collapse" id="Master_Item" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <!--Add Child Item-->
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Hospital_Master/index" data-toggle="tooltip" title="Add new hospital ...."> Add Hospital</a>
                                <a class="nav-link" href="/Department_Master/index" data-toggle="tooltip" title="Add new department ...."> Add Department</a>
                                <a class="nav-link" href="/Designation_Master/index" data-toggle="tooltip" title="Add new designation ...."> Add Designation</a>
                                <a class="nav-link" href="/UnitMaster/index" data-toggle="tooltip" title="Add new unit master ...."> Add Unit</a>
                                <a class="nav-link" href="/Material_Type_Master/index" data-toggle="tooltip" title="Add new employee ...."> Add Material Type</a>
                                <a class="nav-link" href="/Employee_Master/index" data-toggle="tooltip" title="Add new employee ...."> Add Employee</a>
                                <a class="nav-link" href="/User_Master/index" data-toggle="tooltip" title="Add new employee ...."> Add User</a>



                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#Transaction_Item" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Trading Transaction
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Transaction_Item" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Hospital_Master/index" data-toggle="tooltip" title="Daily paper rate entry..."> Add Daily Paper Rate</a>
                            </nav>
                        </div>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Devlop By:</div>
                    Hitanshi Agro.
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </main>
        </div>
        <!--Dash Boord Layour-->
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Scripts")

    <!-- Toastr -->

    <script src="~/Content/assets/demo/datatables-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
